<div id="form-wrapper" class="container-fluid d-flex justify-content-center ">
    <form class="mt-5 col-lg-3 p-4" action="/auth/login" method="post">
        <h3>Đăng nhập</h3>

        <h4 id="notification" class="mb-3 mt-3">
            <% if (true) { %>
                Thông tin tài khoản/mật khẩu không chính xác     
            <% } %>
        </h4>

        <!-- Tai khoan -->
        <div class="mb-4 row">
            <input type="test" class="form-control" id="bknetid" name="bknetid" placeholder="BKnetID" required>
        </div>
        
        <!-- Mat khau -->
        <div class="mb-4 row">
            <input type="password" class="form-control" id="password" name="pwd" placeholder="Mật khẩu" required>
        </div>
        
        
        <!-- Lua chon quyen -->
        <div class="dropdown mb-4 row">
            <a id="priviledge" class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                onclick="allowSubmit()">
                Bạn là ?
            </a>

            <ul class="dropdown-menu px-2 ">
                <li onclick="editPriviledge('Sinh viên')">Sinh viên</li>
                <li onclick="editPriviledge('Cán bộ quản lý (SPSO)')">Cán bộ quản lý (SPSO)</li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="d-flex p-0 justify-content-between ">
                <button type="submit" class="btn btn-light">Quên mật khẩu</button>
                <button id="submit" type="submit" class="btn btn-primary" disabled>Submit</button>
            </div>
        </div>
    </form>
</div>