<div id="header">
    <div id="brand" class="col-lg-2 col-md-2 col-sm-auto d-flex justify-content-center ">
        <a href="" class="d-flex">
            <img src="img/logo.jpg" alt="Logo of SPSS">
            <div class="d-inline-block align-self-center ms-3 ">HCMUT SPSS</div>
        </a>    
    </div>
</div>