<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include declare for bootstrap and var.css -->
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/header.css">

    <link rel="stylesheet" href="css/login_layout.css">

    <title>Xác thực</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <!-- <div class="form-wrapper d-flex justify-content-center flex-column  align-items-center "> -->
        <%- include('../partials/form.ejs') %>
            <!-- </div> -->

        <script src="js/login.js"></script>
        
    <%- include('../partials/foot.ejs') %>
</body>

</html>