<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main_layout.css">

    <title>SPSS</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <script src="main_layout.js"></script>
</body>

</html>